.garchig{
  margin-left: 10em;
  margin-right: 10em;
}
.vector{
  gap: 50px;

}
.card-sec{
  background-color: #003F62;;
  gap: 50px;
}
.card-div{
  gap: 110px;
  margin-left: 110px;
}
.card-last{
  margin-right: 110px;
}
.card-last-div{
  gap: 20px;
}
.card-circle{
 
 color: white;
 position:relative;
 left: 250px;
 bottom: 150px;
}
body{
  font-family: 'Poppins';
}
h3{
  position: relative;
  left: 20px;
  top: 20px;
}
#days{
font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #003F62;
}
h2{
  font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    color: #1B5A7D;
}
.imageslide{
  gap: 30px;
}
.image-fx{
  border: 1px solid black;
  display: flex;
  width: 380px;
  height: 150px;
  justify-content: center;
  border-radius: 20px;
  color: #1B5A7D;
}
.item{
  margin-right: 30px;
  width: 145px;
  height: 45px;
  border-radius: 25px;
}